
:root {
  --primary-color: #38d7fc;
  --secondary-color: #024e76;
  --tertiary-color: #39a6b241;
}



header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  margin: 0;
  
}body {
  color:#39a6b2;
  font-family: Arial, Helvetica, sans-serif
}header {
   padding: 20px 35px;
   background-color: #0b2637ab;
   justify-content: space-between;
   display: flex;
   flex-wrap: wrap;
   position: webkit-sticky;
   position: sticky;
   top: 0;
   
   background-size: cover;
  background-position: center;
   background-attachment: fixed;
   background-position: 80%;
   z-index: 9999;
  }header h1{
   font-weight: bold;
   font-size: 36px;
   color: var(--primary-color);
   margin: 0;
   text-shadow: 0 0 10px rgba(0,0,0,0.5);
 }header a {
   text-decoration: none;
   color: var(--primary-color);
  
}header nav {
      margin: 7px 0;
 }
 header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;


 }
 header nav ul li a  {
   padding: 10px 15px;
   font-weight: lighter;
   font-size: 1.55vw;
   text-shadow: 0 0 10px rgba(0,0,0,0.5);
 }
   header nav ul li a:hover {
     background: var(--primary-color);
     color:var(--secondary-color);
     border-radius: 15px;
     text-shadow: none;
    }
   body {
     background-color: lightgray;
   }
   
   
    .background {
     padding: 100px;
   }
  
  
   .hello1 {
    float: left;
    width: 20%;
    font-size: 24px;
    padding: 20px;
    border-right: black solid 2px;
    text-align: right;
    margin-top: -40px;
    height: 140px;
   

  }
  .img {
    width: 100%;
  }
   .hello {
    margin-top: 90px;
    float: left;
    width: 20%;
    font-size: 24px;
    padding: 20px;
    border-right: black solid 2px;
    text-align: right;
    height: 330px;
   
  }
  .hello2 {
    margin-top: 60px;
    float: left;
    width: 20%;
    font-size: 24px;
    padding: 20px;
    border-right: black solid 2px;
    text-align: right; 
  
  }
  p a {
    padding:20px;
    color:black;
   
  
  }
  p a:hover {
    color:#39a6b2;
    
  }

  .middle {
 
    width: 40%;
    position: absolute;
    padding:10px;
    background: #53a5a9;
    color:black;
    font-size: 23px;
    font-weight: 700;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
  }
.container {


 position: relative; 
 text-align: center;
 color: white;
 
    
}
.bio {
  float: right;
  width: 70%;
  margin-top: -60px;
  font-style:italic;
  color: black;
  padding: 20px;
} 
.row {
  float:right;
   width:70%; 
   margin-top: 70px; 
   padding: 20px;
   display: flex;
   flex-wrap: wrap;
  }

.work-left {
    float: left;
    width: 50%;
    border: #5b6d78 solid 2px;
    height: 150px;
    border-radius: 4px;
    margin-bottom: 20px;
  
  }
  .work-right {
    float: right;
    width: 50%;
    border: #5b6d78 solid 2px;
    height: 150px;
   border-radius: 4px;
   margin-bottom: 20px;;
  
  }
  .bgimage {
     height: 100%;
     width: 100%;
     
 
 
    }
  #work img:hover {
    opacity: 1
  }
#work img {
  opacity: .5
}
.flex-container {
  display: flex;
  flex-direction: row;
}
#about-me,#work,#contact-me {
  display: flex;
  flex-wrap: wrap;
}









@media (max-width: 800px){
  .flex-container {
    flex-direction: column;
  }
}
nav {
  display: flex;

}

* {
     margin: 0;
     padding: 0;

   }footer {
     font-size: 24px;
     width: 100%;
     padding: 40px 35px;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
    }
    
   footer h2 {
     color:var(--secondary-color);
     font-size: 20px;
     margin: 0;
   }
    footer div{
     
     line-height: 1.5;
     text-align: right;
     margin-inline-end: 60px;
   }
    
   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   } 
     section {
       padding: 60px;
      } 
     
  .hero {
    background-image: url("../images/marketing.jpg");
  
   width: 100%;
   height: 500px;
  }
  
 
  
 



@media  screen and (max-width: 700px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
  header h1 {
    width: 100%;
    text-align: center;
   
  }

header nav ul {
   margin-top: 20px;
   width: 100%;
   justify-content: center;
   flex-direction: column;
 }
 header nav ul li a {
   font-size: 20px;
    }
 #about-me ,#work ,#contact-me {
    flex-direction: column;
    border: 0px transparent;
   
  }
 .row {
   flex-direction: column;
   width: 200%;
  }
.bio {
  width:100%;
  margin-top: 80px;
}
 
  .hello,.hello1,.hello2 {
   border: none;
   height: 0px;
 }
  footer h2, footer div {
    text-align: center;
    width: 100%;
  }  
  
}